.lh-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}
.line-height {
  text-align: left;
  background-color: #fff;
  border: 1px solid hsl(200, 10%, 80%);
  border-radius: 4px;
  padding: 16px;
}
.line-height__title {
  font-size: 32px;
  line-height: 1.5;
}
.line-height--fixed > .line-height__title {
  line-height: 1.1;
}
.line-height__body--large {
  font-size: 24px;
  line-height: 1.5;
}
.line-height--fixed > .line-height__body--large {
  line-height: 1.25;
}
.line-height__body {
  font-size: 16px;
  line-height: 1.5;
}
.line-height code {
  font-size: 16px;
  color: hsl(200, 10%, 40%);
}
